<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Beta-Issues</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- full size of site -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" media="all" />>
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  {# <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script> #}
  <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.png') }}">
</head>

<!-- <div class="page-header">
  <h1>Beta-Issues <small>Issue manager between Evektor & BETA CAE</small></h1>
</div> -->
<header>
{# <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="width: 80%; left: 10%; padding: 0px 10px; border-radius: 3px; border: 1px solid #E7E7E7; margin-top: 30px;"> #}
<nav class="navbar navbar-default" role="navigation" style="width: 80%; left: 10%;>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ url_for('homepage') }}">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-home"></span>
            <span aria-hidden="true">Home</span>
          </button>
        </a>
      </li>
      <li>
        <a href="{{ url_for('help_page') }}">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span aria-hidden="true">Help</span>
          </button>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
        <li>
          <a href="{{ url_for('issue_status') }}">
            <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-list"></span>
              <span aria-hidden="true">Issues Status</span>
            </button>
          </a>
        </li>
        <li>
          <a href="{{ url_for('issue_add_new') }}">
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span>
              <span aria-hidden="true">Add New Issue</span>
            </button>
          </a>
        </li>
        <li>
          <a href="{{ url_for('upload_release_changes') }}">
            <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-upload"></span>
              <span aria-hidden="true">Upload Release Notes</span>
            </button>
          </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session.logged_in -%}
      <li>
        <a href="{{ url_for('logout') }}">
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </button>
        </a>
      </li>

      {% else -%}
      <li>
        <a href="{{ url_for('login') }}">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </button>
        </a>
      </li>
      <li>
        <a href="{{ url_for('register_page') }}">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
            Register
          </button>
        </a>
      </li>

      {% endif -%}

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-user"></span>
            {% if session.logged_in -%} &nbsp;{{ session.username }} {% else -%} Guest {% endif -%} <span class="caret"></span>
          </button>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</header>

<body style="padding-top: 70px;">  {# if navbar-fixed-top #}
<body>

  <!-- <div class="border-row" style="width:100%; margin-bottom: 15px;"></div> -->

  <div class="container" style="min-height:100% max-width=80%">

  {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
      <ul class="flashes list-unstyled">
      {% for category, message in messages -%}
        {% if category in ['success', 'info', 'warning', 'danger'] -%}
          <div class="alert alert-{{ category }} alert-dismissable" role="alert">
        {% else -%}
          <div class="alert alert-warning alert-dismissable" role="alert">
        {% endif -%}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor -%}
      </ul>
    {% endif -%}
  {% endwith -%}

  {% block body -%}
  {% endblock -%}

  </div>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>