<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Beta-Issues</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- full size of site -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" media="all" />
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>
</head>

<header>

{# <div class="container" style="padding-bottom: 40px;">
  <div class="page-header">
    <h1>Beta-Issues <small>Issue manager between Evektor & BETA CAE</small></h1>
  </div>
</div> #}

{# <nav class="navbar navbar-default" role="navigation" style="width: 80%; left: 10%;"> #}
<nav class="navbar navbar-default" role="navigation" style="margin-top: 20px;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">

    {# NAVBAR - LEFT #}
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ url_for('homepage') }}">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-home"></span>
            <span aria-hidden="true">Home</span>
          </button>
        </a>
      </li>
      <li>
        <a href="{{ url_for('help_page') }}">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span aria-hidden="true">Help</span>
          </button>
        </a>
      </li>
    </ul>

    {# NAVBAR - CENTER #}
    <ul class="nav navbar-nav navbar-center">
        <li>
          <a href="{{ url_for('issue_status') }}">
            <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-list"></span>
              <span aria-hidden="true">Issues Status</span>
            </button>
          </a>
        </li>
        <li>
          <a href="{{ url_for('upload_release_changes') }}">
            <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-upload"></span>
              <span aria-hidden="true">Upload Release Notes</span>
            </button>
          </a>
        </li>
    </ul>

    {# NAVBAR - RIGHT #}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {% if session.logged_in -%}
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-user"></span>
              {{ session.username }}
          {% else -%}
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-user"></span>
              Guest
          {% endif -%}
              <span class="caret"></span>
            </button>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          {% if not session.logged_in -%}
          <li>
            <a href="{{ url_for('login') }}" style='padding-top: 10px; padding-bottom: 10px;'>
                <span class="glyphicon glyphicon-log-in"></span>
                Login
            </a>
          </li>
          <li>
            <a href="{{ url_for('register_page') }}" style='padding-top: 10px; padding-bottom: 10px;'>
                <span class="glyphicon glyphicon-pencil"></span>
                Register
            </a>
          </li>
          {% endif -%}
          {% if session.logged_in -%}
            <li>
              <a href="{{ url_for('logout') }}" style='padding-top: 10px; padding-bottom: 10px;'>
                  <span class="glyphicon glyphicon-log-out glyphicon-th-list"></span>
                  Logout
              </a>
            </li>
          {% endif -%}
        </ul>
      </li>
    </ul>
  </div>
</nav>
</header>

<body>

  <div class="container" style="min-height:100%>

  {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages -%}
      <ul class="flashes list-unstyled">
      {% for category, message in messages -%}
        {% if category in ['success', 'info', 'warning', 'danger'] -%}
          <div class="alert alert-{{ category }} alert-dismissable" role="alert">
        {% else -%}
          <div class="alert alert-warning alert-dismissable" role="alert">
        {% endif -%}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor -%}
      </ul>
    {% endif -%}
  {% endwith -%}

  {% block body -%}
  {% endblock -%}

  </div>

  <script language="JavaScript" type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script>
    $.fn.modal.Constructor.prototype.enforceFocus = function() {
      modal_this = this
      $(document).on('focusin.modal', function (e) {
        if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
        }
      })
    };
  </script>

</body>