{% extends "header.html" %}

{# .nav-tabs li.tab5{
    width:10%;
} #}

{% block body %}

<h3>Unresolved Issues</h3>
<form method=post action="{{ url_for('tbl_del_row') }}">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for data in unresolved %}
      {% set issue = data[1] %}
      {% set description = data[2] %}
      <tr>
        <td><spam style="font-family: monospace;">{{ issue }}</spam></td>
        <td>{{ description }}</td>
        <td><button name="remove_issue" value="{{ issue }}" type="submit" class="btn btn-xs glyphicon glyphicon-edit"></button></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</form>

<h3>Resolved Issues</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for data in resolved %}
      {% set issue = data[1] %}
      {% set description = data[2] %}
      <tr class="success">
        <td><spam style="font-family: monospace;">{{ issue }}</spam></td>
        <td>{{ description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}