{% extends "header.html" %}

{% block body %}

<h3>Upload βETA release notes</h3>

<div class="row">
  <form action="{{ url_for('upload_changes') }}" enctype=multipart/form-data method="post" class="form-horizontal" enctype="multipart/form-data">

    <div class="form-group">
      <label for="UploadFiles" class="col-sm-2 control-label">Select (Multiple) Release Notes PDF(s):</label>
      <div class="col-sm-8">
        <label class="control-label" style="padding-bottom: 5px;">Example: ANSA_release_notes.pdf, META_Release_Notes_v16.x.x.pdf, ANSA_v17.1.1_Release_Notes.pdf, ...</label>
        <input id="input-1a" name=UploadFiles type="file" class="file-loading" multiple>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-default" id="loading-forever-btn" data-loading-text="<i class='fa fa-cog fa-spin'></i> Processing PDF(s), please wait...">Upload</button>
    </div>

  </form>
</div>

<div class="row">
  <div id="kv-error-2" style="margin-top:10px;"></div>
  <p class="text-center" style="font-size: 1.5em;">Current number of uploaded issues:</p>
  <p class="text-center" style="font-size: 1.5em;"><spam class="bg-success" style="padding: 5px;">{{ resolved_issues_in_db }}</spam></p>
  <div class="text-center" style="padding-top: 30px;">
    {% for data in nums -%}
      {% if data.get('version') != '' %}
        <button class="btn btn-static btn-sm" style="margin-top: 3px; width: 160px !important ">{{ data.get('version') }} <spam class="badge">{{ data.get('COUNT(1)') }}</spam></button>
        {# <br> #}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
